.custom, .equals, .operator {
    width: 65px;
    height: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right:1px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color:  	#B0B0B0 ;
    font-family: Arial;
    color: #770718;
    background: #d86b41;
    text-decoration: none;
}

.equals {
    background: #4682B4;
    color: white;
    border-color:#006699;
    font-weight: bold;

    width: 65px;
    height: 50px;
}

.operator{
    background: #d84123;
}

.equals:hover{
    border-color: #00008B;
}

.custom:hover,.operator:hover{
    color: #000000 ;
    border-color: #808080 ;
}

.frame{
    border: 1px solid;
    background-color: #b0a6a8;
    border-radius: 1px;
    padding-top:20px;
    padding-bottom:20px;
    width:480px;
    border-color:darkgrey;
    box-shadow: 0px 0px 10px 1px #888888;
}

.display-input{
    font-size:30px;
    text-align: right;
    margin:2px;
    height:50px;
    width:414px;
}
