.custom, .equals, .operator {
    width: 65px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right:4px;
    font-size: 15px;
    border: 1px solid;
    border-radius: 1px;
    border-color:  	#B0B0B0 ;
    font-family: Arial;
    color: #404040 ;
    background: #F0F0F0  ;
    text-decoration: none;
}

.equals {
    background: #4682B4;
    color: white;
    border-color:#006699;
    font-weight: bold;
}

.operator{
    background: #D0D0D0   ;
}

.equals:hover{
    border-color: #00008B;
}

.custom:hover,.operator:hover{
    color: #000000 ;
    border-color: #808080 ;
}

.frame{
    border: 1px solid;
    border-radius: 1px;
    padding-top:20px;
    padding-bottom:20px;
    width:480px;
    border-color:darkgrey;
    box-shadow: 0px 0px 10px 1px #888888;
}

.display-input{
    font-size:30px;
    text-align: right;
    margin:2px;
    height:50px;
    width:434px;
}
